<!-- include header -->
<%- include('include/_header.ejs')%>
<!-- /include header -->

<a href="/">&lt&lt All Users</a>
<%- include('include/_form.ejs')%>



<!-- include footer -->
<%- include('include/_footer.ejs')%>
<!-- /include footer -->
