<%- include('include/head.ejs')%> <%- include('include/_header.ejs')%>

<div class="wrapper">
  <h2 class="heading-h2 white">Add a song</h2>

  <form method="POST" id="add_song" action="/api/songs">
    <a href="/all-songs" class="add-song-a white">&lt&lt All Users</a>
    <div class="form-item">
      <label for="name" class="white label">Artist</label>
      <input type="hidden" name="id" value="" class="artist-input" />
      <input type="text" name="artist" placeholder="The Weeknd" />
    </div>
    <div class="form-item">
      <label for="title" class="white label">Title</label>
      <input
        type="text"
        name="title"
        placeholder="Starboy"
        class="title-input"
      />
    </div>
    <div class="form-item">
      <label for="url" class="white label">Link to Photo (Optional)</label>
      <input
        type="text"
        name="coverImage"
        placeholder="URL from Google"
        class="url-input"
      />
    </div>
    <span class="grey form-comment form-item"
      >Go to Google.com, find image of an artist, right-click and "Copy image
      address" (Not "Copy link address").</span
    >
    <div class="form-item" class="white label">
      <label for="year" class="white label">Year</label>
      <input type="number" name="year" placeholder="2016" />
    </div>
    <button class="submit-form">Submit</button>
  </form>
  <script src="/js/script.js"></script>
</div>

<%- include('include/_footer.ejs')%>
