<%- include('include/_header.ejs')%>

<main>
  <div class="wrapper home-section">
    <div class="home-img">
      <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/mello_otq1.svg" alt="mello">
    </div>
    <div class="home-about">
      <h1>Welcome to BEATIX</h1>
      <span>
        BEATIX is a music streaming service that allows you to collect your own playlist from your favorite artists.
      </span>
      <a href="/all-songs" class="get-started-btn">Get Started</a>
      </a>
    </div>
  </div>
  <a href="/all-songs">All songs</a>
</main>

<%- include('include/_footer')%>
