<!-- include header -->
<%- include('include/_header.ejs')%>
<!-- /include header -->

<h2>Update User</h2>
<a href="/">&lt&lt All Users</a>


<form method="POST" id="update_user">
    <h2>Update User</h2>
    <div class="form-item">
      <label for="name">Name</label>
      <input type="hidden" name="id" value="" />
      <input type="text" name="name" placeholder="John Doe" />
    </div>
    <div class="form-item">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="example@email.com" />
      </div>
      <div class="form-item">
        <label for="email">Year</label>
        <input type="number" name="date" placeholder="2022" />
      </div>
  </form>



<!-- include footer -->
<%- include('include/_footer.ejs')%>
<!-- /include footer -->



