<footer>
    <span class="grey">This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service</span><br><br>
    <span class="grey">00011256</span>
</footer>
<script src="/js/script.js" defer></script>
</body>
</html>
