<form method="POST" id="add_user">
    <h2>New User</h2>
    <div class="form-item">
      <label for="name">Name</label>
      <input type="hidden" name="id" value="" />
      <input type="text" name="name" placeholder="John Doe" />
    </div>
    <div class="form-item">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="example@email.com" />
      </div>
      <div class="form-item">
        <label for="email">Year</label>
        <input type="number" name="date" placeholder="2022" />
      </div>
  </form>