<tr>
    <td>1</td>
    <td>Photo</td>
    <td>Drake</td>
    <td>Toosie Slide</td>
    <td>2020</td>
    <td>
      <a href="/update-song">Update</a>
    </td>
    <td>
      <a href="#">Delete</a>
    </td>
  </tr>
