<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@mail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
      <a href="/update-user">Update</a>
    </td>
    <td>
      <a href="#">Delete</a>
    </td>
  </tr>
